html, body, .grid-container {
    height: 100%; margin: 0; 
    font-family: sans-serif;
    font-size: 20px;
    line-height: 100%;
  }
  
  .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .a,.b,.c {
  /*   min-width: calc(100%/3); */
    overflow: auto;
  }
  .a {
    background-color: #ffcccc;
  }
  .b {
    background-color: #ccffcc;
  }
  .c {
    background-color: #ccccff;
  }
  
  p {
    margin: 0;
    color: red;
  }